<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
<header th:fragment="header" class="header">
    <section class="contenedorMain">
        <div class="tituloBiblioteca">
            <a class="navbar-brand" href="#">BIBLIOTECA EGG</a>
        </div>
        <div sec:authorize="isAuthenticated()" class="container contenedorLibros">
            <p class="tituloLibros" th:if="${session.usuariosession != null}"
               th:text=" 'Hola de vuelta '+ ${session.usuariosession.nombre}"></p>
            <p class="tituloLibros">Encontrá todos los Libros Aquí!</p>
            <a sec:authorize="isAuthenticated()" class="btn btn-warning btn-xl mt-2 boton"
               th:href="@{/libro/lista}">Libros</a>
        </div>
    </section>
</header>
</body>
</html>