<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Biblioteca Egg - Modificar Autor')}"></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container-fluid m-5 contenedor">
    <form class="formulario" th:action="@{/autor/modificar}" method="post">
        <div class="form-group my-3">
            <input hidden th:value="${autor.id}" name="id">
            <label class="mb-2">Modificar Autores</label>
            <input type="text" class="form-control" th:value="${autor.nombre}" name="nombre"
                   placeholder="Nombre del Autor">
        </div>
        <button type="submit" class="btn btn-primary mt-3 botones">Guardar</button>
    </form>

    <section class=" text-center container">
        <div class="row mt-3">
            <div class="divVolver">
                <a th:href="@{/}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
            </div>
        </div>
    </section>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>