<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: head('Biblioteca Egg - Lista de Autores')}"></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container m-auto">
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Id del Autor</th>
            <th scope="col">Nombre del Autor</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody th:each="autor : ${autores}">
        <tr>
            <th scope="row" th:text="${autor.id}"></th>
            <td th:text="${autor.nombre}"></td>
            <td>
                <a th:href="@{/autor/modificar/__${autor.id}__}"><i class="fas fa-feather-alt"> </i> Modificar </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito">
        <div class="card-body">
            <h5 class="card-title">Exito ðŸ‘ </h5>
            <p class="card-text" th:text="${exito}"></p>
        </div>
    </div>
    <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError">
        <div class="card-body">
            <h5 class="card-title">Error ðŸ‘Ž</h5>
            <p class="card-text" th:text="${error}"></p>
        </div>
    </div>
    <section th:replace="~{fragments/return :: return}"></section>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<div th:replace="~{fragments/scripts :: scripts}"></div>
<div th:replace="~{fragments/scripts :: scripts_popper}"></div>
</body>
</html>