<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Biblioteca Egg - Formulario de Autor')}"></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container m-5 contenedor">
    <form class="formulario" th:action="@{/autor/registro}" method="post" >
        <div class="form-group my-3">
            <label class="mb-2">Cargar Autores</label>
            <input type="text" class="form-control" name="nombre" placeholder="Nombre del Autor">
        </div>

        <button type="submit" class="btn btn-primary mt-3 botones">Guardar</button>
    </form>
    <section th:replace="~{fragments/return :: return}"></section>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<div th:replace="~{fragments/scripts :: scripts}"></div>
</html>