<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: head('Biblioteca Egg')}"></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div th:replace="~{fragments/exito :: exito}"></div>
<div th:replace="~{fragments/error :: error}"></div>
<header th:replace="~{fragments/header_error :: header_error}"></header>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>