<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Biblioteca Egg - Fomulario de Libro')}"></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container m-5 contenedor">
    <form class="formulario" th:action="@{/libro/registro}" method="post">
        <div th:replace="~{fragments/exito :: exito}"></div>
        <div th:replace="~{fragments/error :: error}"></div>
        <div class="form-group my-3">
            <label class="mb-2">Cargar Libro</label>
            <input type="number" class="form-control" name="isbn" placeholder="ISBN">
        </div>
        <div class="form-group my-3">
            <input type="text" class="form-control" name="titulo" placeholder="Titulo del Libro">
        </div>
        <div class="form-group my-3">
            <input type="text" class="form-control" name="imagen" placeholder="Imagen del Libro">
        </div>
        <div class="form-group my-3">
            <input type="number" class="form-control" name="ejemplares" placeholder="Cantidad de Ejemplares">
        </div>
        <div class="form-group my-3">
            <select name="idAutor">
                <option>Seleccionar Autor</option>
                <option th:each="autor : ${autores}"
                        th:value="${autor.id}"
                        th:text="${autor.nombre}"
                ></option>
            </select>
        </div>
        <div class="form-group my-3">
            <select name="idEditorial">
                <option>Seleccionar Editorial</option>
                <option th:each="editorial : ${editoriales}"
                        th:value="${editorial.id}"
                        th:text="${editorial.nombre}"
                ></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3 botones">Guardar</button>
    </form>
    <section class=" text-center container">
        <div class="row mt-3">
            <div class="divVolver">
                <a th:href="@{/}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
            </div>
        </div>
    </section>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>