<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Biblioteca Egg - Modificar Libro')}"></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container-fluid m-5 contenedor">
    <form class="formulario" th:action="@{/libro/modificar}" method="post" >
        <div class="form-group my-3">
            <input hidden th:value="${libro.isbn}" name="id">
            <label class="mb-2">Modificar Libros</label>
            <div class="d-flex flex-column gap-2">
                <input type="text" th:value="${libro.isbn}" hidden class="form-control" name="isbn">
                <input type="text" th:value="${libro.titulo}" class="form-control" name="titulo" placeholder="Título del Libro">
                <input type="text" th:value="${libro.ejemplares}" class="form-control" name="ejemplares" placeholder="Cantidad de ejemplares">
                <input type="text" th:value="${libro.imagen}" class="form-control" name="imagen" placeholder="URL de la imagen">
                <select name="idAutor">
                    <option th:value="${libro.autor.id}" th:text="${libro.autor.nombre}"></option>
                    <option th:each="autor : ${autores}"
                            th:value="${autor.id}"
                            th:text="${autor.nombre}"
                    ></option>
                </select>
                <select name="idEditorial">
                    <option th:value="${libro.editorial.id}" th:text="${libro.editorial.nombre}"></option>
                    <option th:each="editorial : ${editoriales}"
                            th:value="${editorial.id}"
                            th:text="${editorial.nombre}"
                    ></option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3 botones">Guardar</button>
    </form>
    <section th:replace="~{fragments/return :: return}"></section>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>