<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: head('Biblioteca Egg - Lista de Usuarios')}"></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container m-auto">
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Id del Usuario</th>
            <th scope="col">Nombre del Usuario</th>
            <th scope="col">Email del Usuario</th>
            <th scope="col">ROL del Usuario</th>
            <th scope="col">Password del Usuario</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody th:each="usuario : ${usuarios}">
        <tr>
            <th scope="row" th:text="${usuario.id}"></th>
            <td th:text="${usuario.nombre}"></td>
            <td th:text="${usuario.email}"></td>
            <td th:text="${usuario.rol}"></td>
            <td th:text="${usuario.password}"></td>
            <td th:switch="${usuario.rol.name()}">
                <a th:href="@{/admin/usuario/modificar-rol/__${usuario.id}__}">
                    <button th:case="'ADMIN'" type="button" class="btn btn-primary">Cambiar rol a "USER"</button>
                    <button th:case="'USER'" type="button" class="btn btn-light">Cambiar rol a "ADMIN"</button>
                    <button th:case="*"
                            type="button" class="btn btn-secondary">Rol desconocido
                    </button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:replace="~{fragments/error :: error}"></div>
    <div th:replace="~{fragments/exito :: exito}"></div>
    <section th:replace="~{fragments/return :: return}"></section>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<div th:replace="~{fragments/scripts :: scripts}"></div>
<div th:replace="~{fragments/scripts :: scripts_popper}"></div>
</body>
</html>